@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  overflow: scroll;
}

code {
  color: #888;
  font-family: 'Inconsolata', monospace;
}

.sidebarClose {
  margin-left: 0;
  transition: margin 0.7s;
}

.sidebarOpen {
  margin-left: -120px;
  transition: margin 0.7s;
}
