@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  background: #1e1e1e;
  border-radius: 4px;
  padding: 15px;
  overflow: scroll;
}

code {
  color: #d4d4d4;
  font-family: 'Inconsolata', monospace;
  font-size: 0.7em !important;
}

.sidebarClose {
  margin-left: 0;
  transition: margin 0.7s;
}

.sidebarOpen {
  margin-left: -120px;
  transition: margin 0.7s;
}
