body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebarClose {
  margin-left: 0;
  transition: margin 0.7s;
}

.sidebarOpen {
  margin-left: -120px;
  transition: margin 0.7s;
}
